body {
    background-image: url("../../img/background.jpg");
}

.main-container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 16px 20px 48px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 24px;
    height: auto;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 40px;
    }
}

.main-container > h1 {
    font-size: var(--xl);
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    grid-column: 1 / 3;

    @media (max-width: 1000px) {
        grid-column: 1 / 2;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 100%;

    @media (max-width: 1000px) {
        gap: 16px;
        align-items: center;
    }
}

.messages-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messages-container .messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.messages-container .messages .alert {
    margin: 0;
}

.custom-card {
    background-color: var(--transparent-color);
    box-shadow: 0 4px 16px -2px var(--primary-color);
    height: auto;
    padding: 20px 20px;
    border-radius: 8px;
}

.creation-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
    min-width: 400px;
    max-width: 600px;

    @media (max-width: 500px) {
        min-width: 100%;
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    position: relative;
}

.form-item label {
    font-size: var(--xs);
    font-weight: bold;
    color: var(--black-color);
}

.form-item input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--background-border-color);
    background-color: var(--background-color);
    padding: 4px 12px;
    font-size: var(--xs);
    color: var(--black-color);
    outline: None;
}

.form-item input:focus, .form-item input:active, .form-item input:hover {
    border: 1px solid var(--primary-color);
}

.form-item select {
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--background-border-color);
    background-color: var(--background-color);
    padding: 4px 12px;
    font-size: var(--xs);
    color: var(--black-color);
    outline: None;
}

.form-item select:focus, .form-item select:active, .form-item select:hover {
    border: 1px solid var(--primary-color);
}

.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid var(--black-color);
    position: absolute;
    right: 10px;
    top: 70%;
    width: 0;
    height: 0;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

#nivel_educativo {
    appearance: none;
    cursor: pointer;
}

.form-item.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-item.buttons-container .bttn {
    width: 48%;
}

.bttn {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: var(--xs);
    font-weight: bold;
    height: 100%;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn.bttn-primary {
    background-color: var(--button-primary-color);
    color: var(--white-color);
}

.bttn.bttn-primary:hover {
    background-color: var(--button-primary-hover-color);
}

.bttn.bttn-dark-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.bttn.bttn-dark-primary:hover {
    background-color: var(--primary-hover-color);
}

.bttn.bttn-danger {
    background-color: var(--danger-color);
    color: var(--white-color);
}

.bttn.bttn-danger:hover {
    background-color: var(--danger-hover-color);
}

.bttn.bttn-warning {
    background-color: var(--warning-color);
    color: var(--white-color);
}

.bttn.bttn-warning:hover {
    background-color: var(--warning-hover-color);
}

.table-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--transparent-color);
}

.card {
    overflow: auto;
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 16px -2px var(--primary-color);
    border-radius: 8px !important;
    padding: 24px;
}

thead {
    border: 1px solid #ddd;
}

th {
    border: 1px solid #ddd;
    color: var(--black-color);
    font-size: var(--xs);

    @media (max-width: 768px) {
        font-size: var(--xxs);
    }
}

td {
    border: 1px solid #ddd;
    color: var(--black-color);
    font-size: var(--xs);

    @media (max-width: 768px) {
        font-size: var(--xxs);
    }
}

.actions form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
    width: 100%;
}

.actions .bttn {
    height: auto;
    padding: 8px;

    @media (max-width: 768px) {
        padding: 6px;
    }
}

.actions .bttn i {
    font-size: var(--xs);
    @media (max-width: 768px) {
        font-size: var(--xxs);
    }
}

#modal {
    max-width: 900px;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 40px 32px;
    border: none;
    outline: none;
    width: 100%;
    position: relative;

    @media (max-width: 768px) {
        padding: 20px 16px;
    }
}

#modal h1 {
    font-size: var(--xl);
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 24px;
}

.edition-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.edition-form :last-child {
    @media (min-width: 768px) {
        grid-column: 1 / 3;
    }
}

#modal .bttn-close {
    border-radius: 50%;
    background-color: var(--transparent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12px;
    top: 12px;
    height: auto;
    width: auto;
    padding: 4px 6px;
}

.bttn-close i {
    color: var(--black-color);
    font-size: var(--md);
    transition: color 0.3s;
}

.bttn-close:hover i, .bttn-close:focus i {
    color: var(--white-color);
}

#modal .bttn-close:hover, #modal .bttn-close:focus {
    background-color: var(--black-hover-color);
}

