.signin{
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px; 

}

.usuario{
  margin-top: 10px; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; 
  max-width: 20rem; 
}

.contrasena{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.signintoyouraccount{
  margin-top: 10px; 
  text-align: center; 
  font-size: 2rem; 
  font-weight: bold;
  line-height: 1.25; 
  letter-spacing: -0.01em; 
  color: #333; 
}

.divimagen{
  @media (min-width: 640px) {
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
    max-width: 20rem; 
  }  
}

.logo{
  margin-left: auto; 
  margin-right: auto; 
  height: 2.5rem; 
  width: auto; 
}

.username{
  display: block;
  font-size: small;
  font-weight: 500; 
  line-height: 1.5; 
  color: #333333; 
}

.inputuser{
  
  display: block;
  width: 100%;
  border-radius: 0.375rem; 
  border: none; 
  padding: 0.375rem 0; 
  color: #333333; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box;
  
  /* Estilos adicionales para los pseudo-elementos y estados de foco */
  ::placeholder {
    color: #A0AEC0; 
  }
  
  :focus {
    outline: none; 
  }
  
  /* Estilos específicos para dispositivos pequeños (sm) */
  @media (min-width: 640px) {
    font-size: small; 
    line-height: 1.5; 
  }
  
}

.pass_word{
  display: block;
  font-size: small;
  font-weight: 500; 
  line-height: 1.5; 
  color: #333333; 
}

.recuperarcontrasena{
  
  font-weight: 600; 
  color: #4F46E5; 
  
  
  :hover {
    color: #4338CA; 
  }

  font-size: small; 
  
}

.inputcontrasena{
  
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border: none; 
  padding: 0.375rem 0; 
  color: #333333; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border: 1px solid #D1D5DB; 
  border-style: inset; 
  border-color: #D1D5DB; 
  
  ::placeholder {
    color: #9CA3AF; 
  }
  
  /* Estilos de enfoque */
  :focus {
    outline: none;
    border-width: 2px; 
    border-style: inset; 
    border-color: #4F46E5; 
  }
  

  @media (min-width: 640px) {
      font-size: small; 
      line-height: 1.5;  
  }
  
}

.botonsignin{
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem; 
  background-color: #4F46E5; 
  padding: 0.375rem 0.75rem; 
  font-size: small; 
  font-weight: 600; 
  line-height: 1.5;
  color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

  
  :hover {
    background-color: #4338CA;
  }
  
  :focus-visible {
    outline: 2px auto #4F46E5;
    outline-offset: 2px; 
  } 
}

.pregunta{
  margin-top: 2.5rem;
  text-align: center;
  font-size: small;
  color: #6B7280;
}

.registrate{
  font-weight: 600;
  line-height: 1.5;
  color: #4F46E5;
  
  :hover {
    color: #4338CA;
  }
  
}

  