body {
    /* background-color: #e0f4ff */
    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #f0f0f0;
}

/*  Grafica columnas  */
#chartdiv {
    width: 90%;
    height: 450px;
    margin-left: 4%;
}

main {
    margin: 0;
}

/*  Grafica pie  */
#chartdiv1 {
    width: 100%;
    height: 450px;
    text-align: center;
    left: 100px;
}

/*  Barras  */
#chartdiv2 {
    width: 600px;
    height: 450px;
    margin-top: 5%;
}

/*  Barras invertidas  */
#chartdiv3 {
    margin-left: 5%;
    width: 90%;
    height: 90%;
}

.contenedor {
    display: flex;
    flex-direction: row;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 4%;
}

#columna-ancha1 {
    background-color:  #fffbfb;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    flex-basis: 58%;
    margin-left: 3%;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
    filter: blur(0.1px);
}

#columna-ancha2 {
    background-color:  #fffbfb;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    flex-basis: 58%;
    margin-left: 3%;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
}

#columna-ancha3 {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    flex-basis: 65%;
}

#columna-estrecha1 {
    background-color:  #fffbfb;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    flex-basis: 42%;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
}

#columna-estrecha2 {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    flex-basis: 42%;
    margin-left: 3%;
}

#columna-estrecha3 {
    background-color:  #fffbfb;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-left: 3%;
    flex-basis: 35%;
    margin-bottom: 4%;
    margin-top: 2%;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
}

#titulo-principal {
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 1%;
}

#chartSelect {
    width: 40%;
    height: 8%;
    margin-left: 50%;
    margin-bottom: 4%;
}

#logo_institucion {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 4%;
}