{% extends 'base/base.html' %}
{% load static %}

{% block title %}Estudios{% endblock %}

{% block css %}
    {# Datatables #}
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="{% static 'css/crud/crud.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <section class="main-container">
        <h1 class="text-center title">Estudios</h1>
        <div class="form-container">
            <div class="messages-container">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                                <strong class="text-dark">{{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert">

                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <form action="{% url 'estudios' %}" method="post" class="custom-card creation-form">
                {% csrf_token %}
                <div class="form-item">
                    <label for="titulo">Título</label>
                    <input type="text" name="titulo" id="titulo" placeholder="Título">
                </div>
                <div class="form-item">
                    <label for="institucion">Salario</label>
                    <input type="text" name="institucion" id="institucion" placeholder="Institución">
                </div>
                <div class="form-item">
                    <label for="fecha_inicio">Fecha Inicio</label>
                    <input type="date" name="fecha_inicio" id="fecha_inicio" placeholder="Fecha de Inicio">
                </div>
                <div class="form-item">
                    <label for="fecha_fin">Fecha Fin</label>
                    <input type="date" name="fecha_fin" id="fecha_fin" placeholder="Fecha de Fin">
                </div>
                <div class="form-item">
                    <label for="egresado">Egresado Id</label>
                    <input type="number" name="egresado" id="egresado" placeholder="Id del Egresado">
                </div>
                <div class="form-item buttons-container">
                    <button type="reset" class="bttn bttn-primary">Limpiar</button>
                    <button type="submit" class="bttn bttn-warning">Crear</button>
                </div>
            </form>
        </div>
        <div class="table-container">
            <div class="card">
                <table id="rows" class="table table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Institución</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Egresado Id</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estudio in estudios %}
                            <tr>
                                {% if estudio.titulo %}
                                	<td>{{ estudio.titulo }}</td>
                                {% else %}
                                    <td>Ninguno</td>
                                {% endif %}
                                {% if estudio.institucion %}
                                    <td>{{ estudio.institucion }}</td>
                                {% else %}
                                    <td>Ninguno</td>
                                {% endif %}
                                {% if estudio.fecha_inicio %}
                                    <td>{{ estudio.fecha_inicio }}</td>
                                {% else %}
                                    <td>S.F.</td>
                                {% endif %}
                                {% if estudio.fecha_fin %}
                                    <td>{{ estudio.fecha_fin }}</td>
                                {% else %}
                                    <td>S.F.</td>
                                {% endif %}
                                {% if estudio.egresado_id %}
                                    <td>{{ estudio.egresado_id }}</td>
                                {% else %}
                                    <td>Ninguno</td>
                                {% endif %}
                                <td>
                                    <div class="actions">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button type="button" data-formaction="{% url 'editar_estudio' estudio.id %}"
                                                    data-estudio-titulo="{{ estudio.titulo }}"
                                                    data-estudio-institucion="{{ estudio.institucion }}"
                                                    data-estudio-fecha_inicio="{{ estudio.fecha_inicio }}"
                                                    data-estudio-fecha_fin="{{ estudio.fecha_fin }}"
                                                    data-estudio-egresado_id="{{ estudio.egresado_id }}"
                                                    class="bttn bttn-dark-primary">
                                                 <i class="fas fa-edit"></i>
                                             </button>
                                            <button type="submit" formaction="{% url 'eliminar_estudio' estudio.id %}" class="bttn bttn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Título</th>
                            <th>Institución</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Egresado Id</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>

    <dialog id="modal">
        <h1 class="text-center title">Editar Estudio</h1>
        <form method="post" class="edition-form">
            {% csrf_token %}
            <div class="form-item">
                <label for="titulo">Título</label>
                <input type="text" name="titulo" id="titulo" placeholder="Título">
            </div>
            <div class="form-item">
                <label for="institucion">Salario</label>
                <input type="text" name="institucion" id="institucion" placeholder="Institución">
            </div>
            <div class="form-item">
                <label for="fecha_inicio">Fecha Inicio</label>
                <input type="date" name="fecha_inicio" id="fecha_inicio" placeholder="Fecha de Inicio">
            </div>
            <div class="form-item">
                <label for="fecha_fin">Fecha Fin</label>
                <input type="date" name="fecha_fin" id="fecha_fin" placeholder="Fecha de Fin">
            </div>
            <div class="form-item">
                <label for="egresado">Egresado Id</label>
                <input type="number" name="egresado" id="egresado" placeholder="Id del Egresado">
            </div>
            <div class="form-item buttons-container">
                <button type="reset" class="bttn bttn-primary">Limpiar</button>
                <button type="submit" class="bttn bttn-warning">Guardar</button>
            </div>
        </form>
        <button type="button" class="bttn bttn-close" data-modal-close>
            <i class="fas fa-times"></i>
        </button>
    </dialog>
{% endblock %}

{% block js %}
    {#  JQuery  #}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    {#  Datatables  #}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#rows').DataTable({
                language: {
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Ningún usuario encontrado",
                    info: "Mostrando de _START_ a _END_ de _TOTAL_ registros",
                    infoEmpty: "Ningún usuario encontrado",
                    infoFiltered: "(filtrados desde _MAX_ registros totales)",
                    search: "Buscar:",
                    loadingRecords: "Cargando...",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    }
                }
            });
        });
    </script>
    <script src="{% static 'js/crud/crud.js' %}"></script>
    <script src="{% static 'js/crud/estudios.js' %}"></script>
{% endblock %}
