{% extends 'base/base.html' %}
{% load static %}

{% block title %}HUG{% endblock %}


{% block content %}

    {% block extra_head %}

        <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/main/NewDashboard.css' %}">
    {% endblock %}

    <h2 id="titulo-principal">Dashboard</h2>

    <!-- Gafico de Torta Y Barras invertidas -->
    <div class="contenedor">
      <div class="columna-estrecha" id="columna-estrecha1">
          <div id="chartdiv1" class="chartdiv"></div>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="chartSelect">
                  <option value="1">Ciudades con más Egresados</option>
                  <option value="2">Nivel educativo de los Egresados</option>
          </select>
      </div>
      <div class="columna-ancha" id="columna-ancha1">
        <h5 style="margin-left: 40%; margin-top: 1.5%">Relación Nivel educativo / Experiencia</h5>
        <div id="chartdiv3" class="chartdiv"></div>
      </div>
    </div>

    <!-- Logo Institucional Y Grafico de Columnas -->
    <div class="contenedor">
      <div class="columna-estrecha" id="columna-estrecha2">
          <img id="logo_institucion" style="width: 65%; height: auto" src={% static 'img/LogoEAFIT.png' %}/>
      </div>
      <div class="columna-ancha" id="columna-ancha2">
        <h5 style="margin-left: 40%; margin-top: 1.5%">Egresados por cada Sector Laboral</h5>
        <div id="chartdiv" class="chartdiv"></div>
      </div>
    </div>

  <!-- Tabla de filtros Y Grafico de Barras -->
    <div class="contenedor">
        <div class="columna-ancha" id="columna-ancha3">
            <div class="container" id="tablota">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Filtro Manual
                </div>
                <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Ciudad</th>
                        <th>Experiencia</th>
                        <th>Salario</th>
                        <th>Educación</th>
                        <th>Fecha Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {% if egresados %}
                        {% for egresado in egresados %}
                            <tr>
                                <td>{{ egresado.ciudad }}</td>
                                <td>{{ egresado.experiencia_meses }}</td>
                                <td>$ {{ egresado.salario }}</td>
                                <td>{{ egresado.nivel_educativo }}</td>
                                <td>{{ egresado.fecha_nacimiento }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Ciudad</th>
                        <th>Experiencia</th>
                        <th>Salario</th>
                        <th>Educación</th>
                        <th>Fecha Nacimiento</th>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>
        </div>
        <div class="columna-estrecha" id="columna-estrecha3">
            <h5 style="margin-left: 25%; margin-top: 1.5%">Egresados por cada Sector Laboral</h5>
            <div id="chartdiv2" class="chartdiv"></div>
        </div>
    </div>




    {% block scripts %}

        <!-- Tabla de Filtros -->
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#example').DataTable({
                    language: {
                        lengthMenu: "Mostrar _MENU_ registros por página",
                        zeroRecords: "Ningún usuario encontrado",
                        info: "Mostrando de _START_ a _END_ de _TOTAL_ registros",
                        infoEmpty: "Ningún usuario encontrado",
                        infoFiltered: "(filtrados desde _MAX_ registros totales)",
                        search: "Buscar:",
                        loadingRecords: "Cargando...",
                        paginate: {
                            first: "Primero",
                            last: "Último",
                            next: "Siguiente",
                            previous: "Anterior"
                        }
                    }
                });
            });
        </script>

        <!-- Recursos de Amchart -->
        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>

        <!-- Script Generador de Graficas -->
        <script src={% static 'js/GraficaBarra-Pie.js' %}></script>
        <script src={% static 'js/GraficaInvertida-Columna.js' %}></script>

    {% endblock %}



{% endblock %}